            *,
            *::after,
            *::before {
                box-sizing: border-box;
            }
            
            body {
                height: 100%;
                background-image: url(8d83e6f41dfd39c5400768042d18f949.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }
            
            h2 {
                color: #ff4411;
                font-family: 'Raleway', sans-serif;
                font-size: 48px;
                font-weight: 300;
                line-height: 32px;
                margin: 60px;
                display: flex;
            }
            
            p {
                position: absolute;
                bottom: 10px;
                left: 100px;
                color: #ff4411;
                font-family: 'Raleway', sans-serif;
                font-size: 48px;
                font-weight: 300;
                /* line-height: 32px; */
                display: flex;
            }
            
            #computer-choice {
                margin: 10px;
                position: absolute;
                top: 150px;
                left: 350px;
            }
            
            #user-choice {
                margin: 10px;
                position: absolute;
                bottom: 150px;
                left: 350px;
            }
            
            .btnsContainer {
                position: absolute;
                display: flex;
                left: 50%;
                top: 55%;
                transform: translate(-50%, -50%);
            }
            
            .modal,
            .mobil,
            .monir {
                position: fixed;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 200ms ease-in-out;
                border: 1px solid black;
                z-index: 10;
                background-color: #eee;
                width: 700px;
                padding: 20px;
            }
            
            .modal.active {
                transform: translate(-50%, -50%) scale(1);
            }
            
            .mobil.active {
                transform: translate(-50%, -50%) scale(1);
            }
            
            .monir.active {
                transform: translate(-50%, -50%) scale(1);
            }
            
            .modal-body {
                padding: 50px 15px;
                text-transform: capitalize;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 50px;
                font-weight: 200;
                text-align: center;
            }
            
            .monir-body {
                padding: 50px 15px;
                text-transform: capitalize;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 50px;
                font-weight: 200;
                text-align: center;
            }
            
            .mobil-body {
                padding: 50px 15px;
                text-transform: capitalize;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 50px;
                font-weight: 200;
                text-align: center;
            }
            
            #overlay {
                position: fixed;
                opacity: 0;
                transition: 200ms ease-in-out;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: transparent;
                pointer-events: none;
            }
            
            #overlay.active {
                opacity: 1;
                pointer-events: all;
            }
            
            @media (min-width: 310px) and (max-width:950px) {
                body {
                    height: 100%;
                    background-image: url(8d83e6f41dfd39c5400768042d18f949.jpg);
                    /* background-color: red; */
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                }
                #computer-choice {
                    margin: 10px;
                    position: absolute;
                    top: 50px;
                    left: 300px;
                }
                #user-choice {
                    margin: 10px;
                    position: absolute;
                    bottom: 50px;
                    left: 300px;
                }
                .btnsContainer {
                    position: absolute;
                    display: flex;
                    left: 50%;
                    top: 60%;
                    transform: translate(-50%, -50%);
                }
                .modal.active {
                    transform: translate(-50%, -20%) scale(0.7);
                }
                .mobil.active {
                    transform: translate(-50%, -20%) scale(0.7);
                }
                .monir.active {
                    transform: translate(-50%, -20%) scale(0.7);
                }
            }
            
            @media (min-width: 955px) and (max-width:1650px) {
                #computer-choice {
                    margin: 10px;
                    position: absolute;
                    top: 20px;
                    left: 300px;
                }
                #user-choice {
                    margin: 10px;
                    position: absolute;
                    bottom: 20px;
                    left: 300px;
                }
                .modal.active {
                    transform: translate(-50%, -20%) scale(0.7);
                }
                .mobil.active {
                    transform: translate(-50%, -20%) scale(0.7);
                }
                .monir.active {
                    transform: translate(-50%, -20%) scale(0.7);
                }
            }
